# Python
__pycache__/
*.pyc
env/
venv/

# AI model (optional if too big, use LFS)
backend/ai_model/*.pkl
backend/ai_model/*.h5
backend/ai_model/*.pt

# Node / frontend build
frontend/node_modules/
frontend/dist/
frontend/build/

# OS / IDE
.DS_Store
.vscode/
*.log
